﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to The Poliquin Group!</h2>

<p>
    This exercise should not take you more than one hour to complete. The results of this project will be used in discussions during future interviews.
</p>
<p>
    <b>To complete this project:</b>
</p>
<ol>
    <li>Ensure all Unit Tests are passing. Two are currently failing. The code you write to get these tests passing will be used in the next exercise(s).</li>    
    <li>Modify the application so that the state with the most similar area is also displayed on the <b>State Statistics</b> page.
        <ul>
            <li>Additional text should say something like "The state most closely related in size is California with 423,968 sq/km."</li>
        </ul>
    </li>
    <li>Modify the application so the state (with the most similar area) displayed in #2 above is clickable. When clicked, the user should be redirected to the <b>State Statistics</b> page for that particular state.</li>
</ol>

<p>
    <b>What we're looking for:</b>
</p>
<ul>
    <li>Elegance - is your solution elegant?</li>
    <li>Readability - is your code easily readable... by a junior developer for instance?</li>
    <li>Documentation - did you clearly document your code so that your intentions are understood by future developers?</li>
    <li>Adaptability - did you write code/documentation that matches the style and architecture of the project?</li>
</ul>