﻿@model IEnumerable<PoliquinInterviewProject.Models.ModelState>

@{
    ViewBag.Title = "Select a State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question 1</h2>

<ul>
    @foreach (var state in Model)
    {
        <li>@Html.ActionLink(state.Name, "DisplayStateStatistics", new { stateName = state.Name })</li>
    }
</ul>